body {
  padding-top: 5rem;
}

.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

h2{
  text-align: center;
}
#content {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}
#lists{
  display: flex;
}
