.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold;
}

.starter-template {
  padding: 3rem 1.5rem;
}
h1, h2, h4{
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  justify-content: space-around;
}

#lists{
  display: flex;
}
