/*entry page css*/
.flex{
  display: flex;
}
.center{
  text-align: center;
}
#hitormiss{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#hitormiss img{
  height: 200px;
}

form{
  flex-wrap: wrap;
}

form label{
  width: 75px;
  margin: 15px;
 text-align: center;
}

label img {
  height: 100px;
}

input[type=checkbox]{
   display:none;
}
