<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'trap_scorekeeping/favicon-96x96.png' %}">
    <title>User</title>
    <link href="{% static 'trap_scorekeeping/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'trap_scorekeeping/css/base.css' %}" rel="stylesheet">
  </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Trap Scorekeeper</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Confirm Score Entry</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="starter-template">
      <h3>Confirm round information is correct:</h3>
      <p>
        {{ round_data }}
      </p>

      <a type="button" class="btn btn-lg btn-success" href="{% url 'index' %}"><h4>Success</h4>All information is correct!</a>
      <a type="button" class="btn btn-lg btn-danger" href="{% url 'delete_submission' round_data.id  %}"><h4>WRONG</h4>This isn't correct, I need to re-enter.</a>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static 'trap_scorekeeping/js/jquery.min.js' %}"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="{% static 'trap_scorekeeping/js/bootstrap.min.js' %}"></script>
</body>
</html>
