<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="static/trap_scorekeeping/index.css">

</head>
<body>
<h1>
  <img src="{% static 'trap_scorekeeping/brokenclay.png' %}"/>
  <img src="{% static 'trap_scorekeeping/wholeclay.png' %}"/>
    Score Keeper
    <img src="{% static 'trap_scorekeeping/wholeclay.png' %}"/>
  <img src="{% static 'trap_scorekeeping/brokenclay.png' %}"/>
</h1>
<div class="flex">
<nav>
  <h2>Users:</h2>
    <ul>
       {% for user in sidebar_users %}
        <li> {{ user }}
        </li>
       {% endfor %}
    </ul>
</nav>
  <div id="main">
      <ul id="fivescores">
            <h4>recent games:</h4>
            {% for game in rounds %}
            <li> <h4>{{ game.player }}:</h4> {{ game.score }}
            </li>
            {% endfor %}
        </ul>
        <ul id="facts">
            <h4>stats:</h4>
            <li>longest streak</li>
            <li>hit percentage</li>
            <li>logged targets</li>
            <li>average score</li>
        </ul>
  </div>
</div>
     <a href="{% url 'admin:index' %}">admin page</a>
     <a href="{% url 'round_entry' %}">round entry</a>
     <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
     <script src="http://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
</body>
</html>
