<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="static/trap_scorekeeping/index.css">
</head>
<body>
  <img src="{% static 'trap_scorekeeping/scorekeeper.png' %}"/>
<div class="flex">
  <nav>
    <h2>Users:</h2>
      <ul>
         {% for user in sidebar_users %}
          <li> {{ user }} </li>
         {% endfor %}
      </ul>
  </nav>
  <div id="content">
      <ul>
        <h4>recent games:</h4>
            {% for game in rounds %}
            <li> <h4>{{ game.player }}:</h4> {{ game.score }}</li>
            {% endfor %}
        </ul>
        <ul>
            <h4>stats:</h4>
            <li>Longest Streak: {{ longest_streak }} </li>
            <li> Total Shots: {{ shots }} </li>
            <li> Hit Percentage: {{ hit_percent }}%</li>
            <li>Average Score: {{ average_score }}</li>
        </ul>
  </div>
</div>
     <a href="{% url 'admin:index' %}">admin page</a>
     <a href="{% url 'round_entry' %}">round entry</a>
     <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
     <script src="http://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
</body>
</html>
